In [ ]:
import pandas as pd #pandas kirjastot tuodaan nykyiseen tiedostoon
import numpy as np  #numpy kirjastot tuodaan nykyiseen tiedostoon.
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from scipy import stats #stats kirjastot tuodaan nykyiseen tiedostoon.

df = pd.read_csv('https://raw.githubusercontent.com/YSPLS/colab_Files/main/train.csv')

Data preprocessing

In [ ]:
df.head() # tulostaa viisi ensimmäistä riviä datasetistä. Antaa ensivaikutelman tiedolle

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [ ]:
df.shape #kertoo rivien ja sarakkeiden määrän.

(5847, 14)

In [ ]:
df.isnull().sum() #kertoo jokaisen puuttuvan arvon jokaisesta sarakkeesta.

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [ ]:
df.duplicated()  #käy datasetin läpi ja etsii duplikaatteja. tässä niitä ei ollut yhtään.

0       False
1       False
2       False
3       False
4       False
        ...
5842    False
5843    False
5844    False
5845    False
5846    False
Length: 5847, dtype: bool

In [ ]:
df["quality"]=pd.cut(df['Kilometers_Driven'], bins=[0,45000,45001,85000, 900000], labels=["newish", "old", "really old", "ancient"]) #lajitellaan autot kategorioihin niiden ajomatkojen kilometrien perusteilla
df.drop('bins', axis=1) #poistetaan bins näkyvista.

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,quality
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,newish
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,really old
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,ancient
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,newish
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50,ancient
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75,newish
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00,ancient
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90,really old
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65,really old
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50,really old

In [ ]:
df2 = pd.DataFrame({"Name":["Lada Samara"], "Price":[-12]}) # tuodaan dataan uusi osa, jossa on roskadataa (missä ekonomiassa hinta voisi olla miinuksella???)
pd.concat([df,df2]) # uusi data yhdistetään vanhaan

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1.0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015.0,41000.0,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2.0,Honda Jazz V,Chennai,2011.0,46000.0,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3.0,Maruti Ertiga VDI,Chennai,2012.0,87000.0,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4.0,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013.0,40670.0,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6.0,Nissan Micra Diesel XV,Jaipur,2013.0,86999.0,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5843,6015.0,Hyundai Xcent 1.1 CRDi S,Jaipur,2015.0,100000.0,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016.0,Mahindra Xylo D4 BSIV,Jaipur,2012.0,55000.0,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017.0,Maruti Wagon R VXI,Kolkata,2013.0,46000.0,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018.0,Chevrolet Beat Diesel,Hyderabad,2011.0,47000.0,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50
0,NaN,Lada Samara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-12.00

In [ ]:
data = df[df['Price'] >= 0] # viedään Price sarakkeesta kaikki roskadata pois.
display(df) #Ilmainen Lada on kadonnut listasta, koska se ei kelpaa käyttöön.

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

Data Objects & Attribute Types

In [ ]:
print(['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'New_Price', 'Price'])# Tulostetaan nimellisiä määritteitä edustavat sarakkeiden nimet.

['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'New_Price', 'Price']

In [ ]:
print(['Transmission'])# Tulostetaan binäärimääritteitä edustavat sarakkeiden nimet, joita on tässä taulukossa 1kpl.

['Transmission']

In [ ]:
print(df['Transmission'].value_counts()) # Transmission voi saada vain kaksi arvoa: manual tai automatic.

Manual       4135
Automatic    1712
Name: Transmission, dtype: int64

In [ ]:
print(['Year', 'Kilometers_Driven', 'Mileage', 'Engine', 'Power', 'Seats', 'New_Price', 'Price'])# Tulostetaan järjestysmääritteitä edustavat sarakkeiden nimet.

['Year', 'Kilometers_Driven', 'Mileage', 'Engine', 'Power', 'Seats', 'New_Price', 'Price']

In [ ]:
print(df['Year'].value_counts()) # Näyttää, kuinka monta kertaa tietyt vuosiluvut esiintyvät datassa.

2014    784
2015    734
2016    734
2013    631
2017    582
2012    558
2011    455
2010    330
2018    294
2009    193
2008    163
2007    106
2019    101
2006     69
2005     44
2004     27
2003     16
2002     12
2001      5
2000      4
1998      3
1999      2
Name: Year, dtype: int64

In [ ]:
print(df['Kilometers_Driven'].value_counts()) # Näyttää, kuinka monta kertaa tietyt ajokilometrit esiintyvät datassa.

60000    80
45000    69
65000    68
50000    61
55000    57
         ..
54774     1
41123     1
17465     1
71360     1
27365     1
Name: Kilometers_Driven, Length: 3019, dtype: int64

In [ ]:
print(df['Mileage'].value_counts()) # Näyttää, kuinka monta kertaa tietyt polttoaineen kulutukset esiintyvät datassa. Dieselin kulutus ilmaistaan kmpl = kilometers per liter. Bensiinin kulutus ilmaistaan totutusta poikkeavalla tavalla km/kg.

18.9 kmpl     172
17.0 kmpl     151
18.6 kmpl     119
20.36 kmpl     88
21.1 kmpl      86
             ...
11.56 kmpl      1
13.58 kmpl      1
19.91 kmpl      1
16.38 kmpl      1
17.24 kmpl      1
Name: Mileage, Length: 419, dtype: int64

In [ ]:
print(df['Engine'].value_counts()) # Näyttää, kuinka monta kertaa tietyt moottorityypit esiintyvät datassa. CC = cubic centimeter eli kuutiosenttimetri.

1197 CC    602
1248 CC    496
1498 CC    304
2179 CC    240
1497 CC    229
          ...
2694 CC      1
2495 CC      1
1978 CC      1
1489 CC      1
1797 CC      1
Name: Engine, Length: 140, dtype: int64

In [ ]:
print(df['Power'].value_counts()) # Näyttää, kuinka monta kertaa tietyt tehot esiintyvät datassa. Bhp = brake horsepower eli jarrutushevosvoima.

74 bhp        235
98.6 bhp      131
73.9 bhp      125
140 bhp       123
78.9 bhp      111
             ...
201 bhp         1
199.3 bhp       1
95 bhp          1
152.88 bhp      1
181.04 bhp      1
Name: Power, Length: 361, dtype: int64

In [ ]:
print(df['Seats'].value_counts()) # Näyttää, kuinka monta kertaa tietyt istuinmäärät esiintyvät datassa.

5.0     4866
7.0      668
8.0      133
4.0       93
6.0       29
2.0       13
10.0       4
9.0        3
Name: Seats, dtype: int64

In [ ]:
print(df['New_Price'].value_counts()) # Näyttää, kuinka monta kertaa tietyt uudet hinnat esiintyvät datassa. Rahayksikkönä Intian rupia. 100 000 rupiaa on yksi lakh. Sata lakhia on yksi crore (Cr).

95.13 Lakh    6
63.71 Lakh    6
4.78 Lakh     6
11.67 Lakh    5
4.98 Lakh     5
             ..
38.11 Lakh    1
8.12 Lakh     1
71.15 Lakh    1
1.06 Cr       1
9.93 Lakh     1
Name: New_Price, Length: 534, dtype: int64

In [ ]:
print(df['Price'].value_counts()) # Näyttää, kuinka monta kertaa tietyt hinnat esiintyvät datassa.

4.50     87
5.50     84
3.50     79
4.25     72
3.25     66
         ..
17.02     1
41.00     1
6.76      1
7.60      1
7.43      1
Name: Price, Length: 1366, dtype: int64

Basic Statistics

In [ ]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [ ]:
print(df['Price'].dtype)

#Dataan kerätyt tiedot ovat intialaiselta autokauppasivustolta, joten rahayksikköinä on Intian rupia.
#Intiassa Lakh on lukusana, joka tarkoittaa 100,000.

float64

In [ ]:
average = np.average(df['Price']) # Kaikkien Käytettyjen autojen hintojen keskiarvo
print("The average price of all the used cars is: ", average, "Lakh INR")

The average price of all the used cars is:  9.653742089960664 Lakh INR

In [ ]:
median = np.median(df['Price']) #Kaikkien käytettyjen autojen hintojen mediaani.
print("The median price of all the used cars is: ", median, "Lakh INR")

The median price of all the used cars is:  5.75 Lakh INR

In [ ]:
std = np.std(df['Price']) # Kaikkien käytettyjen autojen hintojen keskihajonta
print("The standard deviation of all the used car prices is: ", std, "Lakh INR")

The standard deviation of all the used car prices is:  11.275001413335396 Lakh INR

In [ ]:
var = np.var(df['Price']) # Kaikkien käytettyjen autojen hinnan varianssi
print("The variance of all the used car prices is: ", var, "Lakh INR")

The variance of all the used car prices is:  127.12565687071519 Lakh INR

In [ ]:
max = np.max(df['Price']) # Kaikkien käytettyjen autojen maksimi hinta
print("The maximum of all the used car prices is: ", max, "Lakh INR")

The maximum of all the used car prices is:  160.0 Lakh INR

In [ ]:
min = np.min(df['Price']) # Kaikkien käytettyjen autojen minimi hinta
print("The minimum of all the used car prices is: ", min, "Lakh INR")

The minimum of all the used car prices is:  0.44 Lakh INR

In [ ]:
sum = np.sum(df['Price']) # Kaikkien käytettyjen autojen hintojen summa
print("The sum of all the used car prices is: ", sum, "Lakh INR")

The sum of all the used car prices is:  56445.43 Lakh INR

Visualization

In [ ]:
# Line Plot
df.plot(x='Year', y='Kilometers_Driven', kind='line', title='Kilometers driven over years', marker='o', color='blue') #lisätään väri ja marker tyyli ja title
plt.xlabel('year') #label x-axista varten
plt.ylabel('Kilometers Driven') #label y-axista varten
plt.grid(True) #lisää grid viivat
plt.show()

https://imgur.com/a/7iwOahk, line plot kuva

In [ ]:
df['Mileage'] = df['Mileage'].str.extract('(\d+\.\d+|\d+)').astype(float)# muuttaa 'Mileage' floatiksi
sampled_data = df.sample(n=500) #pienentää datan kokoa että taulu näyttää järkevältä
#scatter plot
sampled_data.plot(x='Mileage', y='Price', kind='scatter', title='Mileage vs Price', color='green') #lisätään väri ja titlet ja mitä käytetään
plt.xlabel('Mileage')  #label x-axista varten
plt.ylabel('Price')  #label y-axista varten
plt.show()

https://imgur.com/a/hjTO1do, scatter plot kuva

In [ ]:
# Bar Chart
bar_data = df['Fuel_Type'].value_counts() #lisätään mitä dataa käytetään
bar_data.plot(kind='bar', title='eri polttoaine jakaumat', color=['blue', 'green', 'orange']) #lisätään värit ja title
plt.xlabel('polttoaine tyyppi')  #label x-axista varten
plt.ylabel('määrä')  #label y-axista varten
plt.show()

https://imgur.com/OwilFi0, bar chart kuva

In [ ]:
df['Power'] = df['Power'].str.extract('(\d+\.\d+|\d+)').astype(float) # muuttaa 'power' floatiksi
# Histogram
df['Power'].dropna().astype(float).hist(bins=20, edgecolor='black', color='purple',) #lisätään mitä ja moneen biniin se jakautuu ja värit
plt.title('Histogram of Power') #lisätään title
plt.xlabel('Power') #label x-axista varten
plt.ylabel('Frequency') #label y-axista varten
plt.show()

https://imgur.com/N2vVnll, histogrammin kuva

In [ ]:
# Pie Chart
pie_data = df['Transmission'].value_counts() #valitaan data
pie_data.plot(kind='pie', autopct='%1.1f%%', title='vaihde luokan jaukauma') #valitaan title ja miten data jakautuu
plt.show()

https://imgur.com/QklZmOz, pie chartin kuva

In [ ]:
df['Engine'] = df['Engine'].str.extract('(\d+)').astype(float) # muuttaa 'Engine' floatiksi
# Heatmap (seaborn)
heatmap_data = df[['Year', 'Kilometers_Driven', 'Mileage', 'Engine', 'Power', 'Seats', 'Price']] #valitaan mitkä laitetaan heatmappiin
sns.heatmap(heatmap_data.corr(), annot=True, cmap='coolwarm') #lisätään numerot jokaseen ruutuun ja värjäys tapa
plt.title('yhteväisyydet') #lisätään title
plt.show()

https://imgur.com/FW3hjGU, heatmap kuva